
<h1>User Form</h1>
<hr>

<div class="mb-3">
   <label for="vorname">Vorname:</label>
   <span th:text="${user.vorname}"></span>
</div>
<div class="mb-3">
   <label for="nachname">Nachname:</label>
   <span th:text="${user.nachname}"></span>
</div>
<div class="mb-3">
   <label for="geburtstag">Geburtsdatum:</label>
   <span th:text="${user.geburtstag}"></span>
</div>
<div class="mb-3">
   <label for="email">E-Mail-Adresse:</label>
   <span th:text="${user.email}"></span>
</div>
<div class="mb-3">
   <label for="postleitzahl">Postleitzahl:</label>
   <span th:text="${user.postleitzahl}"></span>
</div>
<div class="mb-3">
   <label for="agbAkzeptiert">AGB akzeptiert:</label>
   <span th:text="${user.agbAkzeptiert}"></span>
</div>